@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");

:root {
    --header-background: #e4e6e9;
    --background: #f6f8fad7;
    --footer-background: #a87fde;

    --main: #6437a0;
    --main1: white;
    --main2: #8a5fc3;
    --highlight: #9974c8;
    --soft: #dfd0f3;

    --heading: #6437a0;
    --text: #28104e;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

body {
    margin: 0;
    padding: 0;
    background: var(--background);
    font-family: Poppins, sans-serif;
}

.main-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;

    background: var(--background);
}

.main-header__logo-link {
    text-decoration: none;
    cursor: default;
}

.main-header__logo {
    display: inline-block;
    vertical-align: middle;
    margin: 16px 120px 16px 240px;

    font-weight: 600;
    font-size: 1.5rem;
    color: var(--heading);
}

.main-header__nav {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 700px);

    text-align: right;
}

.main-header__items {
    padding: 0;
    list-style: none;
}

.main-header__item {
    display: inline-block;
    margin: 0 16px;
}

.main-header__item a {
    text-decoration: none;
    color: var(--heading);
    font-weight: 500;
    font-size: 1rem;
}

.main-header__item a:hover {
    color: var(--text);
}

.main-footer {
    height: 60px;
    background: var(--footer-background);
}