:root {
    --background: #f6f8fa;
    --text: #28104e;
    --highlight-colour: #6437a0;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

/* content starts */

.content {
    margin-top: 70px;
    height: 100%;
    background: green;
}

.main-body {
    height: 100%;
    margin: 0 300px;
    background: blue;
}

/* home starts */

.home__text {
    padding-top: 180px;
    color: var(--text);
    background: red;
}

/* home ends */

/* personal projects starts */

#personal-projects {
    display: none;
}

/* personal projects ends */

/* about starts */

#about {
    display: none;
}

/* about starts */

/* contact starts */

#contact {
    display: none;
}

/* contact ends */

/* content ends */