:root {
    --background: #f6f8fa;

    --main: #6437a0;
    --main1: white;
    --highlight: #9974c8;
    --soft: #dfd0f3;

    --heading: #6437a0;
    --text: #28104e;
}

/* content starts */

.content {
    margin-top: 70px;
    background: var(--background);
}

.main-body {
    height: 650px;
    padding: 0 15%;

    /* background: blue; */
}

/* home starts */

.home__title-card {
    position: relative;
    margin: auto;
    width: 70%;
    height: 80%;

    /* background: red; */
}

.home__img-container {
    position: absolute;
    top: 15%;
    right: 5%;
    width: 50%;
}

.home__img {
    width: 100%;

    border: 3px solid var(--main);
    border-radius: 74% 26% 47% 53% / 40% 26% 74% 60%;
    
}

.home__text {
    position: absolute;
    width: 75%;
    display: inline-block;
    bottom: 11%;
    left: 0;
    padding: 8px 16px;
    z-index: 10;

    border-radius: 25px;
    color: var(--main1);
    background: var(--main);
    box-shadow: 3px 3px 3px 3px rgba(100, 55, 160, 0.5);
}

.home__greeting-text {
    margin: 0;
}

.home__name-text {
    margin: 0;
    padding-left: 10%;
    font-size: 48px;
}

.home__description {
    position: absolute;
    width: 80%;
    display: inline-block;
    bottom: 0;
    right: 0;
    padding: 16px 16px;

    text-align: center;
    background: var(--main1);
    border-radius: 25px;
    border: solid 4px var(--main);
    box-shadow: -3px 3px 3px 3px rgba(100, 55, 160, 0.5);
}

.home__description-text {
    margin: 0;

    color: var(--main);
}

/* home ends */

/* personal projects starts */

#personal-projects {
    padding: 3% 5%;
    background: var(--main);
    box-shadow: 0 0 4px 4px rgba(100, 55, 160, 0.3);
}

.projects__inner-container {
    position: relative;
    margin: 0;
    padding: 40px 50px 10px 50px;
    height: 100%;

    /* border: white 5px solid; */
}

.projects__title {
    margin: 0 75px;

    color: var(--main1);
}

.projects__items {
    width: 100%;
    height: 80%;
    margin: auto;
    margin-top: 15px;
}

.projects__item {
    display: inline-block;
    width: 29%;
    height: 85%;
    vertical-align: middle;
    text-align: center;
    margin: 8px;
    padding: 16px;

    background: var(--main1);
    border: solid var(--main1) 4px;
    border-radius: 8px;
    box-shadow: inset 0 0 0 5px  var(--main);
}

.projects__items .highlight {
    height: 100%;
    width: 35%;
}

.projects__item:hover,
.projects__item:active {
    box-shadow: inset 0 0 0 5px  var(--highlight);
}

.projects__item-title {
    margin: 0;
    padding-top: 10px;
    color: var(--text);
    text-align: left;
}

.projects__tags-container {
    margin: 0;
    margin-top: 5px;
}

.projects__tags-title {
    display: inline-block;
    margin: 0;
    color: var(--text);
    display: inline-block;
    background: var(--soft);
    border: 2px solid var(--main);
    border-radius: 25px;
    padding: 2px 8px;
    font-weight: 500;
    box-shadow: 1px 1px 1px 1px rgba(100, 55, 160, 0.5);
}

.projects__tags {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: circle;
}

.projects__tag {
    color: var(--text);
    display: inline-block;
    background: var(--soft);
    border: 2px solid var(--highlight-colour);
    border-radius: 25px;
    padding: 2px 8px;
    box-shadow: 1px 1px 1px 1px rgba(100, 55, 160, 0.5);
}

.projects__corner-top-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
    width: 300px;
    fill: var(--main1);
}

.projects__corner-top-left-smaller {
    position: absolute;
    top: -10px;
    left: -10px;
    height: 150px;
    width: 300px;
    fill: var(--highlight);
}

.projects__bar-top-right {
    position: absolute;
    top: 10px;
    right: 100px;
    fill: var(--main1);

    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.projects__bar-top-right-smaller {
    position: absolute;
    top: 0;
    right: 80px;
    fill: var(--highlight);

    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.projects__corner-bottom-right {
    position: absolute;
    bottom: -10px;
    right: -10px;
    background-position: bottom 0;
    fill: var(--highlight);
}

.projects__corner-bottom-right-smaller {
    position: absolute;
    bottom: 0;
    right: 0;
    background-position: bottom 0;
    fill: var(--main1);
}



/* personal projects ends */

/* about starts */

#about {
    padding-top: 5%;
    padding-bottom: 3%;
}

.about__title {
    margin: 0 125px;

    color: var(--main);
}

/* about starts */

/* contact starts */

#contact {
    display: none;
}

/* contact ends */

/* content ends */